<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.uangkas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bank"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".AddActivity" />
        <activity android:name=".EditActivity" />
        <activity android:name=".FilterActivity"/>
        <activity android:name=".AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Aboutdeveloper"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".Aboutdeveloper_be" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".tips_activity" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

    </application>

</manifest>